<h1 class='section-title'><%= @animal.common_name %>, mate!</h1>
<div class='grid-x grid-margin-x'>
  <div class='cell small-12 large-6'>
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:33.24074074074074% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BXHip5hg1f8/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">A koala bear enjoying a feed at Cape Otway, along the Great Ocean Road, Victoria, Australia. #wildlifephotography #travelphotography #photoblog #ig_aussiepix #koala #koalabear #capeotway #autralianwildlife #love_nature #loves_earth #travelbug #roamtheplanet #wandervictoria #wanderlust #roamtheplanet #traveltheglobe #australia #liveinvictoria #travel #tourist #discoveraustralia #focusaustralia #ig_travel #nationalpark #natgeo</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Love Travel Photo Blog (@love_travel_photoblog) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-07-29T04:55:49+00:00">Jul 28, 2017 at 9:55pm PDT</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
  </div>

  <div class='cell small-12 large-6'>
    <div id="map" style="width: 100%; height: 400px; background: grey" />
        <script  type="text/javascript" charset="UTF-8" >
        /**
       * Display clustered markers on a map
       *
       * Note that the maps clustering module http://js.api.here.com/v3/3.0/mapsjs-clustering.js
       * must be loaded to use the Clustering

       * @param {H.Map} map A HERE Map instance within the application
       * @param {Array.<Object>} data Raw data that contains coordinates
       */
      function startClustering(map, data) {
        // First we need to create an array of DataPoint objects,
        // for the ClusterProvider
        var dataPoints = data.map(function (item) {
          return new H.clustering.DataPoint(item.latitude, item.longitude);
        });

        // Create a clustering provider with custom options for clusterizing the input
        var clusteredDataProvider = new H.clustering.Provider(dataPoints, {
          clusteringOptions: {
            // Maximum radius of the neighbourhood
            eps: 32,
            // minimum weight of points required to form a cluster
            minWeight: 2
          }
        });

        // Create a layer tha will consume objects from our clustering provider
        var clusteringLayer = new H.map.layer.ObjectLayer(clusteredDataProvider);

        // To make objects from clustering provder visible,
        // we need to add our layer to the map
        map.addLayer(clusteringLayer);
      }


      /**
       * Boilerplate map initialization code starts below:
       */

      // Step 1: initialize communication with the platform
      var platform = new H.service.Platform({
        app_id: "<%= ENV['HERE_API_ID'] %>",
        app_code: "<%= ENV['HERE_API_CODE'] %>",
        useHTTPS: true,
        useCIT: true
      });
      var defaultLayers = platform.createDefaultLayers();

      // Step 2: initialize a map
      var map = new H.Map(document.getElementById('map'), defaultLayers.normal.map, {
        //center: new H.geo.Point(33.559, 165.791),
        center: new H.geo.Point(30.789, 33.790),
        zoom: 2
      });
      var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
      // Step 4: create the default UI component, for displaying bubbles
      var ui = H.ui.UI.createDefault(map, defaultLayers);
      var data = <%= @animals_json.html_safe %>;

      startClustering(map, data);
    </script>
  </div>

  <br/>
  <div class='animal-info'>
    <table>
      <thead>
        <tr>
          <th width="200">Property</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Common Name:</td>
          <td><%= @animal.common_name %></td>
        </tr>
        <tr>
          <td>Scientific Name:</td>
          <td><%= @animal.scientific_name %></td>
        </tr>
        <tr>
          <td>Kingdom Name:</td>
          <td><%= @animal.kingdom_name %></td>
        </tr>
        <tr>
          <td>Family Name:</td>
          <td><%= @animal.family_name %></td>
        </tr>

        <tr>
          <td>Class Name:</td>
          <td><%= @animal.class_name %></td>
        </tr>
        <tr>
          <td>Source Dataset:</td>
          <td><%= @animal.dataset_name %></td>
        </tr>
      </tbody>
    </table>

    <a href="https://en.wikipedia.org/wiki/<%= @animal.scientific_name %>">
      Find it on wikipedia: <strong><%= @animal.scientific_name %></strong>
    </a>
  </div>
</div>